%li{ class: "primary-nav__item" }= link_to t('workarea.admin.shared.primary_nav.afterpay_configuration_title'), edit_afterpay_configuration_path, class: navigation_link_classes(edit_afterpay_configuration_path)
